@-webkit-keyframes columnFlyin {
    0% {
    	top: 100%;
    	-webkit-animation-timing-function: cubic-bezier(.55,0,.1,1)
    }
    100% {
    	top: 0%;
    	-webkit-animation-timing-function: cubic-bezier(.55,0,.1,1)
    }
}

@keyframes columnFlyin {
    0% {
	    top: 100%;
	    animation-timing-function: cubic-bezier(.55,0,.1,1);
    }
    100% {
	    top: 0%;
	    animation-timing-function: cubic-bezier(.55,0,.1,1);
    }
}
