@import "button";

html {

	.avatar,.prf-img,html.tweet-avatar {
		border-radius:100px;
	}

	.avatar:hover:not(:active) {
		@extend .btn:hover;
		transform:scale(1.1,1.1);
		box-shadow: 0 5px 10px rgba(17,17,17,0.475);
	}

	.avatar:active {
		@extend .btn:active;
		background:transparent;
		transform:scale(0.9,0.9);
		box-shadow:none
	}

}