@import "animation";
@import "colour";

body {
	background: $primary_colour_light;
}

body[class=''] .application {
	-webkit-animation: applicationFlyIn 0.35s;
	animation: applicationFlyIn 0.35s;
}

.application[style="top: 46px;"] {
	top:0px!important;
}