@import "animation";
@import "colour";

html body {
	background: $primary_colour_light!important;
}

body[class=''] .application {
	/*-webkit-animation: applicationFlyIn 0.35s;
	animation: applicationFlyIn 0.35s;*/
	@include animation(applicationFlyIn 0.35s);
}

.application[style="top: 46px;"] {
	top:0px!important;
}