@import "colour";

html { 

	.btn {
		color:$secondary_colour_light;
		background:transparent!important;
		text-transform:uppercase;
		transition:180ms all;
		transform:scale(1,1);
		border:none;
	}

	.tde-dark .btn {
		color:$secondary_colour_dark;
	}

	.btn:hover {
		transform:scale(1.025,1.025);
		color:$secondary_colour_light_hover;
		background:transparent;
	}

	.tde-dark .btn:hover {
		color:$secondary_colour_dark_hover;
	}

	.btn:focus {
		box-shadow:none;
	}

	.btn:active {
		transform:scale(0.95,0.95);
		color:#999;
		background:rgba(100,100,100,0.2)!important
	}

	.tde-dark .btn:active {
		color:$secondary_colour_dark_hover;
	}

	.btn:focus:not(:active) {
		background:transparent;
		color:$secondary_colour_light_hover;
	}

	.tde-dark .btn:focus:not(:active) {
		background:transparent;
		color:$secondary_colour_dark_hover;
	}

}