$primary_colour_light: #03A9F4;
$secondary_colour_light: #00BCD4;
$primary_colour_dark: rgba(38, 50, 56, 1);
$secondary_colour_dark: #00838F;
$secondary_colour_light_hover: rgba(0, 188, 212, 0.9);
$secondary_colour_dark_hover: rgba(38, 50, 56, 0.9);