@import "colours";

html { /* For overriding */

	a {
	  color:$secondary_colour_light;
	  text-decoration:none;
	  transition:180ms all;
	  transition-timing-function:cubic-bezier(.55,0,.1,1);
	}

	a:hover {
	  color:$secondary_colour_light_hover;
	  text-decoration:none;
	}

	.tde-dark a {
	  color:$secondary_colour_dark;
	}

	.tde-dark a:hover {
	  color:$secondary_colour_dark_hover;
	}

	a:focus {
	  outline:none;
	}

}