@import "colours";

html {
	
	.sprite {
		/*background-image:url("imgs/td_sprite_sheet_2013_@1x.png");*/
	}

	@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
	    .sprite {
	        /*background-image:url("imgs/td_sprite_sheet_2013_@2x.png");*/
	    }
	}
	
	.sprite-drag-vertical {
		background-image:none;
		width:50%;
		height:100%;
	}

	.icon-clear-timeline {
		display:none;
	}

	.sprite-drag {
		opacity:0;
	}
}
