@import "animation";

#transition {
	transition:180ms all;
	transition-timing-function:cubic-bezier(.55,0,.1,1);
}

#transition200 {
	transition:200ms all;
	transition-timing-function:cubic-bezier(.55,0,.1,1);
}