@-webkit-keyframes applicationFlyIn {
  0% {
    margin-top: 100%; }
  100% {
    margin-top: 0%; } }
@keyframes applicationFlyIn {
  0% {
    margin-top: 100%; }
  100% {
    margin-top: 0%; } }
@-webkit-keyframes modalPopover {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(1.125, 1.125); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1); } }
@keyframes modalPopover {
  0% {
    opacity: 0.5;
    transform: scale(1.125, 1.125); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }
html body {
  background: #03A9F4 !important; }

body[class=''] .app-content {
  /*-webkit-animation: applicationFlyIn 0.35s;
  animation: applicationFlyIn 0.35s;*/
  -webkit-animation: applicationFlyIn 0.35s;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  animation: applicationFlyIn 0.35s;
  animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1); }

.application[style="top: 46px;"] {
  top: 0px !important; }

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 300;
  src: local("RobotoDraft Light"), local("RobotoDraft-Light"), url("fonts/Roboto300latinext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 300;
  src: local("RobotoDraft Light"), local("RobotoDraft-Light"), url("fonts/Roboto300latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local("RobotoDraft"), local("RobotoDraft-Regular"), url("fonts/Roboto400latinext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local("RobotoDraft"), local("RobotoDraft-Regular"), url("fonts/Roboto400latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local("RobotoDraft Medium"), local("RobotoDraft-Medium"), url("fonts/Roboto500latinext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: local("RobotoDraft Medium"), local("RobotoDraft-Medium"), url("fonts/Roboto500latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
/* latin-ext */
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: local("RobotoDraft Bold"), local("RobotoDraft-Bold"), url("fonts/Roboto700latinext.woff2") format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }
/* latin */
@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: local("RobotoDraft Bold"), local("RobotoDraft-Bold"), url("fonts/Roboto700latin.woff2") format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000; }
* {
  font-family: Roboto, RobotoDraft, "Open Sans", Calibri, sans-serif; }

#file-upload-input {
  display: none;
  /* not sure why this happens */ }

.follow-btn .icon.icon-twitter-bird {
  color: inherit; }

html .sprite {
  background-image: url("imgs/td_sprite_sheet_2013_@1x.png"); }
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  html .sprite {
    background-image: url("imgs/td_sprite_sheet_2013_@2x.png"); } }

html .btn {
  color: #00BCD4;
  background: transparent !important;
  text-transform: uppercase;
  transition: 180ms all;
  transform: scale(1, 1);
  border: none; }
html .tde-dark .btn {
  color: #00838F; }
html .btn:hover, html .avatar:hover:not(:active) {
  transform: scale(1.025, 1.025);
  color: rgba(0, 188, 212, 0.9);
  background: transparent; }
html .tde-dark .btn:hover, html .tde-dark .avatar:hover:not(:active) {
  color: rgba(38, 50, 56, 0.9); }
html .btn:focus {
  box-shadow: none; }
html .btn:active, html .avatar:active {
  transform: scale(0.95, 0.95);
  color: #999;
  background: rgba(100, 100, 100, 0.2) !important; }
html .tde-dark .btn:active, html .tde-dark .avatar:active {
  color: rgba(38, 50, 56, 0.9); }
html .btn:focus:not(:active) {
  background: transparent;
  color: rgba(0, 188, 212, 0.9); }
html .tde-dark .btn:focus:not(:active) {
  background: transparent;
  color: rgba(38, 50, 56, 0.9); }

html {
  /* For overriding */ }
  html a {
    color: #00BCD4;
    text-decoration: none;
    transition: 180ms all;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1); }
  html a:hover {
    color: rgba(0, 188, 212, 0.9);
    text-decoration: none !important; }
  html .tde-dark a {
    color: #00838F; }
  html .tde-dark a:hover {
    color: rgba(38, 50, 56, 0.9); }
  html a:focus {
    outline: none; }
  html .link-complex:hover .link-complex-target, html .link-complex:focus .link-complex-target, html .link-complex:active .link-complex-target {
    text-decoration: none; }

html .btn {
  color: #00BCD4;
  background: transparent !important;
  text-transform: uppercase;
  transition: 180ms all;
  transform: scale(1, 1);
  border: none; }
html .tde-dark .btn {
  color: #00838F; }
html .btn:hover, html .avatar:hover:not(:active) {
  transform: scale(1.025, 1.025);
  color: rgba(0, 188, 212, 0.9);
  background: transparent; }
html .tde-dark .btn:hover, html .tde-dark .avatar:hover:not(:active) {
  color: rgba(38, 50, 56, 0.9); }
html .btn:focus {
  box-shadow: none; }
html .btn:active, html .avatar:active {
  transform: scale(0.95, 0.95);
  color: #999;
  background: rgba(100, 100, 100, 0.2) !important; }
html .tde-dark .btn:active, html .tde-dark .avatar:active {
  color: rgba(38, 50, 56, 0.9); }
html .btn:focus:not(:active) {
  background: transparent;
  color: rgba(0, 188, 212, 0.9); }
html .tde-dark .btn:focus:not(:active) {
  background: transparent;
  color: rgba(38, 50, 56, 0.9); }

html .avatar, html .prf-img, html html.tweet-avatar {
  border-radius: 100px; }
html .avatar:hover:not(:active) {
  transform: scale(1.1, 1.1);
  box-shadow: 0 5px 10px rgba(17, 17, 17, 0.475); }
html .avatar:active {
  background: transparent;
  transform: scale(0.9, 0.9);
  box-shadow: none; }

@-webkit-keyframes applicationFlyIn {
  0% {
    margin-top: 100%; }
  100% {
    margin-top: 0%; } }
@keyframes applicationFlyIn {
  0% {
    margin-top: 100%; }
  100% {
    margin-top: 0%; } }
@-webkit-keyframes modalPopover {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(1.125, 1.125); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1); } }
@keyframes modalPopover {
  0% {
    opacity: 0.5;
    transform: scale(1.125, 1.125); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }
#transition, html .stream-item {
  transition: 180ms all;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1); }

html .stream-item {
  border-bottom: none;
  background: #fefefe; }
html .stream-item:not(.conversation-event) {
  border-bottom: none; }
html a[rel="viewDetails"] {
  display: none; }
html .stream-item.is-actionable:hover {
  background: #F5F5F5; }
html .stream-item.is-actionable:active {
  background: #eee; }

html .btn {
  color: #00BCD4;
  background: transparent !important;
  text-transform: uppercase;
  transition: 180ms all;
  transform: scale(1, 1);
  border: none; }
html .tde-dark .btn {
  color: #00838F; }
html .btn:hover, html .avatar:hover:not(:active) {
  transform: scale(1.025, 1.025);
  color: rgba(0, 188, 212, 0.9);
  background: transparent; }
html .tde-dark .btn:hover, html .tde-dark .avatar:hover:not(:active) {
  color: rgba(38, 50, 56, 0.9); }
html .btn:focus {
  box-shadow: none; }
html .btn:active, html .avatar:active {
  transform: scale(0.95, 0.95);
  color: #999;
  background: rgba(100, 100, 100, 0.2) !important; }
html .tde-dark .btn:active, html .tde-dark .avatar:active {
  color: rgba(38, 50, 56, 0.9); }
html .btn:focus:not(:active) {
  background: transparent;
  color: rgba(0, 188, 212, 0.9); }
html .tde-dark .btn:focus:not(:active) {
  background: transparent;
  color: rgba(38, 50, 56, 0.9); }

.btn-positive, .btn-positive-alt, .btn-fav.s-favorited, .s-following .follow-btn {
  color: #03A9F4; }

.tde-dark .btn-positive, .tde-dark .btn-positive-alt, .tde-dark .btn-fav.s-favorited, .tde-dark .s-following .follow-btn {
  color: #263238; }

html .s-following .follow-btn:hover {
  background: #a00; }

@-webkit-keyframes applicationFlyIn {
  0% {
    margin-top: 100%; }
  100% {
    margin-top: 0%; } }
@keyframes applicationFlyIn {
  0% {
    margin-top: 100%; }
  100% {
    margin-top: 0%; } }
@-webkit-keyframes modalPopover {
  0% {
    opacity: 0.5;
    -webkit-transform: scale(1.125, 1.125); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1); } }
@keyframes modalPopover {
  0% {
    opacity: 0.5;
    transform: scale(1.125, 1.125); }
  100% {
    opacity: 1;
    transform: scale(1, 1); } }
.mdl {
  -webkit-animation: modalPopover 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  animation: modalPopover 0.3s;
  animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1); }

html .app-columns-container {
  background: #eee; }

html {
  /* for overriding some things. ugh */ }
  html .compose-account {
    background: transparent;
    margin-right: 10px;
    margin-bottom: 10px; }
  html .compose-title-text {
    display: none !important; }
  html .js-drawer-close {
    display: none; }
  html .compose-header {
    height: 0px;
    border-bottom: none; }
  html .compose-text-title {
    display: none; }
  html .compose-content > .scroll-v {
    padding-left: 20px !important;
    padding-right: 20px !important; }
  html .compose-accounts {
    margin-left: 5px; }
  html .attach-compose-buttons .tweet-button {
    background: none; }

/*# sourceMappingURL=enhancer.css.map */
