@import "colour";
@import "sprite";
@import "transition";
@import "3d";

html.js {
	.tde-light .app-columns-container {
		background:#eee;
	}

	.tde-light .app-columns,.tde-dark .app-columns {
		padding:0px;
	}

	.column-header, .column-header-temp {
		background:linear-gradient($primary_colour_light,$primary_colour_light);
		color:#fff;
		height:54px;
		border-bottom:none;
		box-shadow:0 1px 10px rgba(17,17,17,0.35);
	}


	.is-new .column-header,.is-new .column-header-temp {
		background: linear-gradient($primary_colour_light,$secondary_colour_light);
	}

	.tde-dark .column-header,.tde-dark .column-header-temp {
		background:linear-gradient($primary_colour_dark,$primary_colour_dark);
	}

	.tde-dark .is-new .column-header,.tde-dark .is-new .column-header-temp {
		background: linear-gradient($primary_colour_dark,$secondary_colour_dark);
	}

	.column-message {
		background:$primary_colour_light;
	}

	.tde-dark .column-message {
		background:$primary_colour_dark;
	}

	.is-new .column-message {
		background:$secondary_colour_light;
	}

	.tde-dark .is-new .column-message {
		background:$secondary_colour_dark;
	}

	.column-message p {
		color:#fff
	}

	.facet-content {
		color: #F4DEDD
	}
		
	.column-title {
		margin-right: 35px;
		font-size: 20px;
		font-weight: 400;
		color: #fff;
		text-align: center;
		height: 100%;
		position: absolute;
		width: 100%;
		padding-top: 2px;
		margin-left: 0px!important;
		pointer-events:none;
	}

	.column-title .attribution {
		font-weight: 400;
		font-size: 13px;
		color: rgba(255, 255, 255, 0.74);
	}

	.column-head-title {
		text-align: center;
		display: block;
		height: 18px;
		margin-top: -9px;
		font-size: 16px;
		font-weight: 500;
	}

	.column-number {
		display:none;
	}

	.column-drag-handle {
		top:0px;
		left:0px;
	}

	.js-add-column {
		border-radius: 30px;
		font-size: 0;
		width: 50px;
		height: 50px;
		position: absolute;
		right: 26px;
		bottom: 26px;
		box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.25);
		background-color: #26C6DA!important;
		border: 1px solid rgba(34, 36, 38, 0.11);
	}

	.mdl .js-add-column {
		margin-bottom: 20px;
		z-index: 99;
		background-color: #26C6DA;
	}

	.js-add-column:active {
		background-color: #00ACC1!important;
		@extend #transition100;
	}

	.js-add-column:before {
		font-size: 24px;
		content: "+";
		font-weight: 200;
		text-align: center;
		vertical-align: middle;
		height: 100%;
		width: 100%;
		margin-top: -15px;
		position: absolute;
		left: 0px;
		box-shadow: black;
		color: rgba(255, 255, 255, 0.94);
	}

	.column-header-link,.is-new .column-type-icon {
		color:#fff;
	}

	body .column,body .column {
		margin-right:0px;
		border:none;

	}

	.tde-dark .column {
		background:rgba(52, 66, 72, 1);
	}

	.tde-light .column {
		background:#fefefe
	}

	body .column-holder {
		@extend #transitiontiming;
		transition-duration:250ms;
		-webkit-transition-duration:250ms;
	}

	.column-content{
		@extend #perspective500;
		width:99%;
		top:54px;
		border-right:3px solid rgba(233, 233, 233, 1);
	}

	.column-scroller {
		@extend #perspective500;
	}


	.column-options {
	    width:328px;
	    transition:200ms all;
	}

	.is-wide-columns .column-options {
	    width:353px;
	}

	.is-narrow-columns .column-options {
	    width:283px;
	}

}