@import "colour";

html { /* for overriding some things. ugh */

	.compose-account {
		background:transparent;
		margin-right:10px;
		margin-bottom:10px;
	}

	.compose-title-text {
		display:none!important;
	}

	.js-drawer-close {
		display:none;
	}

	.compose-header {
		height:0px;
		border-bottom:none;
	}

	.compose-text-title {
		display:none;
	}

	.compose-content>.scroll-v {
		padding-left:5px!important;
		padding-right:5px!important;
	}
	
	.compose-accounts {
		margin-left:5px;
	}

	.attach-compose-buttons .tweet-button {
		background:none;
	}

	.compose {
		background:$secondary_colour_light
	}

	.tde-dark .compose {
		background:$secondary_colour_dark
	}

	.compose-account-selected {
		display:none;
	}

	.tweet-button {
	  width: 40px;
	  height: 40px;
	  font-size:18px;
	  text-align:left;
	  margin-top: -2px;
	  margin-left: 45px;
	  border-radius: 32px;
	  transform: none;
	  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.25);
	  z-index: 9;
	  transition-timing-function: cubic-bezier(.55,0,.1,1);
	}

	.tweet-button .icon-compose {
	  font-size:30px;
	  margin-left: -5px;
	  transition:300ms all;
	  margin-top: -3px;
	}

	.attach-compose-buttons {
	  margin-right:-11px
	}

	.attach-compose-buttons .tweet-button {
	  background-color: #29B6F6;
	  transition: 141ms all;
	  border-radius: 0px;
	  opacity:0;
	  margin-top: -60px;
	  transition-timing-function: cubic-bezier(.55,0,.1,1);
	  margin-left: -5px;
	  width: 271px;
	}

}