@import "transition";

html {

	.dropdown-menu {
		position: absolute;
		z-index: 1;
		padding: 10px 0;
		font-weight: 400;
		font-size: 14.5px;
		line-height: 18px;
		background: #fff;
		box-shadow: 0 2px 5px rgba(117,117,117,0.8);
		@extend #transition;
		margin-bottom: -15px;
		margin-right: inherit!important;
		border-radius: 2px;
	}

	.dropdown-menu ul {
		position: relative;
		z-index: 1;
		transition: 200ms all;
	}

	.dropdown-menu li {
		position: relative;
		display: block;
		float: none;
		transition: 200ms all!important;
		height: 32px;
	}

	.dropdown-menu .drp-h-divider {
	  border-bottom:1px solid #e5e5e5;
	  margin-top: 7.5px;
	  margin-bottom: 7.5px;
	  height: 0px!important;
	}

	.tde-dark .dropdown-menu .drp-h-divider {
		
	}

	.dropdown-menu li.is-selectable:hover {
		background-color: rgba(16,16,16,0.05)!important;
	}

	.caret-outer, .caret-inner {
		display:none;
	}

	a[data-action=mute] {
		font-size:0px;
	}

	a[data-action=mute]:before {
	    font-size: 14px;
	    content: "Mute in TweetDeck";
	    display:block;
	}

}