@import "colour";
@import "transition";
@import "animation";
@import "3d";

html {
	.stream-item {
		border-bottom:none;
		background:#fefefe;
		@extend #transition;
	}

	.tde-dark .stream-item {
		background:transparent;
	}

	.tweet {
		line-height:1.32em;
	}

	.tweet-detail-wrapper {
		border:none;
		@extend #perspective0;
	}

	.app-columns-container .stream-item.is-actionable,.tweet-detail-reply .stream-item.is-actionable {
		@include animation(herecomesthetweet 0.4s);
		@extend #transition300;
	}

	.stream-item {
		@include animation(popgoesthetweet 0.4s);
		@extend #transition300;
	}

	.stream-item:not(.conversation-event) {
		border-bottom:none;
	}

	a[rel="viewDetails"] {
		display:none;
	}

	.stream-item.is-actionable:hover {
	    background: #F5F5F5;
	}

	.stream-item.is-actionable:active {
	    background: #eee;
	}

	.stream-item:not(:hover) .tweet-actions {
		visibility:visible;
	}

	.txt-mute a:not(:hover):not(:focus):not(.account-link):not(.link-complex):not(.url-ext):not([rel="user"]) {
	    color: #CFCFCF;
	}

	.tweet-action,.tweet-detail-action {
	    color: #CFCFCF;
	}

	.tweet-detail-wrapper .txt-mute a:not(:hover):not(:focus) {
		color:#777
	}

	.tweet-stats,.tweet-detail-actions {
		border-top:none;
	}

	.js-tweet-translation-text {
		font-family:inherit;
	}

	.tde-dark a.account-link {
		color:#eee
	}
}
