/* my changes */
.is-wide-columns .column {
	width:25% !important;
}
.is-wide-columns .column-content, .is-wide-columns .column-header,.is-wide-columns .column-header-temp {
	width:100% !important;
}
/* <3 */
.icon-favorite:before {
	content:"\e87d" !important;
}
.is-favorite .icon-favorite-toggle,.btn:not(.btn-fav-fav-text)>.icon-favorite-color,.obj-left>.icon-favorite-color {
	color:#BE1931 !important;
}
