/* my changes */
.is-wide-columns .column {
	width:20% !important;
}
.is-wide-columns .column-content, .is-wide-columns .column-header,.is-wide-columns .column-header-temp {
	width:100% !important;
}
.column-type-interactions .column-holder .column-panel .column-content .chirp-container .stream-item .item-box .activity-header .nbfc.txt-mute.txt-small {
    margin-bottom: 20px;
}
.column-type-interactions .column-holder .column-panel .column-content .chirp-container .stream-item .item-box .activity-header .nbfc .txt-mute .txt-small .txt-bold {
	margin-left: 35px;
}
.column-type-activity .column-holder .column-panel .column-content .chirp-container .stream-item .item-box .account-summary .account-summary-text .account-bio,
.column-type-interactions .column-holder .column-panel .column-content .chirp-container .stream-item .item-box .account-summary .account-summary-text .account-bio {
	margin-left: 58px;
}
.column-type-interactions .stream-item:not(.is-actionable) .activity-header:not(.has-source-avatar):not(.activity-header-wrapping) {
	padding-bottom: 5px;
}
.column-type-activity .column-holder .column-panel .column-content .column-scroller .chirp-container .stream-item .item-box .activity-header .nbfc .account-link {
	margin-left: 5px;
	margin-right: 5px;
}
.column-type-interactions .column-holder .column-panel .column-content .column-scroller .chirp-container .stream-item .item-box .activity-header .nbfc .account-link {
	margin-right: 5px;
}
.obj-left>.icon-favorite-color, .pull-right.icon-favorite-color {
  color: red !important;
	padding-left: 15px;
}
.stream-item .icon-small-context {
  color: green;
	padding-left: 10px;
	padding-right: 18px !important;
	padding-top: 0px !important;
}
.column-type-interactions .column-holder .column-panel .column-content .column-scroller .chirp-container .stream-item .item-box .activity-header .activity-indicator.activity-icon-aligned {
  color: black;
	margin-left: 10px !important;
}
.activity-header>.txt-mute {
    display: inherit !important;
}
.tweet-detail .margin-tl.txt-small a, .tweet-stats li a {
	float: inherit !important;
	position: inherit !important;
	padding-left: 10px !important;
}
.tweet-stat b {
    padding-left: 10px !important;
}
.stat-word {
    padding-left: 10px !important;
}
.tweet-detail-actions {
	margin-top: 20px !important;
}
.tweet-detail-action-item.margin-ln {
    margin-left: -2%!important;
}
.tweet-detail-action-item {
	margin-left: 3%!important;
}
a.js-show-tip.tweet-action.position-rel:hover, a.js-show-tip.tweet-detail-action:hover {
    color: red !important;
}
a.tweet-action:hover , a.tweet-detail-action:hover{
    color: green!important;
}
.icon-small-context {
    font-size: 25px !important;
	}
	.activity-indicator {
		font-size: 19px !important;
}
.js-stream-item-content>.account-summary .tweet-avatar {
  width: 48px !important;
  height: 48px !important;
}
.tweet-stats li[data-type="repliers"] span {
	bottom: inherit !important;
	left: inherit !important;
	margin-left: 0px !important;
	text-align: inherit !important;
	width: 50px !important;
}
.tweet-stats li[data-type="repliers"] b {
margin-right: 37px !important;
}
.tweet-stats .stat-word {
	display: inherit !important;
}
.tweet-stat {
	text-transform: inherit !important;
}
.tweet-stats li a, .tweet-stats li span {
	position: inherit !important;
	margin-left: 0px !important;
	margin-top: 0px !important;
}
.icon-follow {
	margin-top: -3px;
}
.account-link.txt-bold {
	line-height: normal !important;
}
.icon-user-dd {
	margin-top: -15px;
}
time.js-timestamp.tweet-timestamp.txt-mute.flex-shrink--0.txt-small {
	margin-top: 1px;
}
time.js-timestamp.tweet-timestamp.txt-mute.flex-shrink--0 {
	margin-top: 8px;
}
.tweet .padding-bs {
	padding-bottom: 0px !important;
}
.is-favorite .icon-favorite-toggle {
	color: red !important;
}
.other-replies {
  margin-left: 53px;
}
