html {
	input, textarea, select, .uneditable-input {
	    border: 2px solid #666;
	    border-top:none;
	    border-left:none;
	    border-right:none;
	}

	select, input[type="color" i][list], input, input[type="password" i], input[type="search" i] {
		background:transparent;
		background-color:transparent;
	}

}