@import "colour";
@import "animation";
@import "transition";

html {
	.mdl {
		@include animation(modalPopover 0.3s);
		border-radius:2px;
		box-shadow:0 15px 40px rgba(17,17,17,0.4);
		@extend #transitiondragging100;
	}

	.mdl-column-rhs {
		width:380px;
	}

	.mdl-buttonbar {
		padding:10px;
	}

	.mdl-inner {
		padding:0px;
		top:47px;
		bottom:0px;
	}

	.mdl-header {
		color:#fff;
		/*background:$primary_colour_light;*/
		z-index:10;
		padding:25px;
	}
	/*
	.tde-dark .mdl-header {
		background:$primary_colour_dark;
	}
	*/
	.mdl-header-title {
		font-weight:400;
		font-size:18px;
		text-align:center;
		padding-left:0px;
		z-index:10;
		margin-top:-10px;
	}

	.tde-dark .mdl:before {
		background-color: $primary_colour_dark;
	}

	.js-dismiss.btn-positive,.mdl-dismiss {
		display:none;
	}

	.ovl, .overlay {
		background:rgba(100, 100, 100, 0.4);
		@include animation(backgroundanimation 0.25s);
	}

	.mdl:not(.med-fullpanel):before {
	  content: " ";
	  width: 100.1%;
	  height: 48px;
	  background-color: $primary_colour_light;
	  position: absolute;
	  z-index: 9;
	}

	.tde-dark .mdl:before {
		background-color: $primary_colour_dark;
	}

	.mdl.s-profile:before {
		background-color:transparent;
	}

	.mdl-content {
		border:none;
		background:#fafafa
	}

	.tde-dark .mdl-content {
		
	}

	.mdl.draggable-dragging {
	    transform: scale(1.05,1.05);
	    box-shadow: 0 30px 70px rgba(17,17,17,0.6);
	    @extend #transitiondragging200;
	    z-index: 99;
	}

	.mdl .mdl-col-settings form.frm fieldset {
	    @include animation(dropmenucomeupnopad 0.25s);
	}

	.tde-light .mdl .mdl-column-sml {
	  background-color:#F8F8F8
	}

	.mdl .selected a:hover {
	  background: rgba(0, 0, 0, 0.1);
	  transition:200ms all;
	}

	.mdl .selected a:focus {
	  text-decoration:none;
	}

	.mdl .selected {
	  background: rgba(0, 195, 220, 0.87);
	  color: #FFF;
	}

	.mdl .list-link strong {
	  font-weight:400
	}

	.mdl .list-link:active {
	  transform: scale(0.875,0.875);
	  background-color:rgba(0,0,0,0.05);
	  color:inherit;
	}

	.mdl li {
	  @extend #transition200;
	}

}