@import "button";
@import "colour";

html {

	.btn-positive, .btn-positive-alt, .btn-fav.s-favorited, .s-following .follow-btn {
		color:$secondary_colour_light;
		box-shadow:none;
	}

	.tde-dark {
		.btn-positive, .btn-positive-alt, .btn-fav.s-favorited, .s-following .follow-btn {
			color:$secondary_colour_dark;
		}
	}

	html .s-following .follow-btn:hover {
		background:#a00;
	}

	.prf-meta {
		border-top:none;
	}

	.modal-content {
		background:#fff;
	}

	.prf-stats li+li a {
		border-left:none;
	}

}