@import "colours";

.is-chrome .sprite {
	background-image:url("chrome-extension://__MSG_@@extension_id__/chrome/imgs/sprite_sheet.png");
	background-image:url("chrome://tweetdeckenhancer/imgs/sprite_sheet.png");
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .is-chrome .sprite {
        background-image:url("chrome-extension://__MSG_@@extension_id__/chrome/imgs/sprite_sheet@2x.png");
        background-image:url("chrome://tweetdeckenhancer/imgs/sprite_sheet@2x.png");
    }
}

html {
	
	body.tde-dark .sprite-drag-vertical,body.tde-light .sprite-drag-vertical {
		background-image:none;
		width:50%;
		height:100%;
	}

	.icon-clear-timeline {
		display:none;
	}

	.sprite-drag {
		opacity:0;
		width:100%;
		cursor:default;
	}
}
