@import "animation";

#transition {
	transition:180ms all;
	transition-timing-function:cubic-bezier(.55,0,.1,1);
}

#transition100 {
	transition:100ms all;
	transition-timing-function:cubic-bezier(.55,0,.1,1);
}

#transition200 {
	transition:200ms all;
	transition-timing-function:cubic-bezier(.55,0,.1,1);
}

#transition300 {
	transition:200ms all;
	transition-timing-function:cubic-bezier(.55,0,.1,1);
}

#transitiontiming {
	transition-timing-function:cubic-bezier(.55,0,.1,1);
}